<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.toutiao">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name=".ui.search.SearchActivity"></activity>
        <activity android:name=".ui.message.Activity.MessageChatActivity"></activity>
        <activity android:name=".ui.news.NewsDetailActivity"></activity>
        <activity android:name=".ui.video.activity.PostDetailActivity"></activity>
        <activity android:name=".ui.video.activity.TopicSquareActivity"></activity>
        <activity android:name=".ui.event.EventSimilarActivity"></activity>
        <activity android:name=".ui.event.EventTimelineActivity" />
        <activity android:name=".ui.video.activity.VideoDetailActivity" >

        </activity>
        <activity android:name=".ui.event.PublishVideoActivity" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity android:name=".ui.news.HomeDetailActivity" />
        <activity android:name=".ui.login.LoginActivity">

        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>